<footer class="info">
    <p>Doble click para editar un TODO</p>
    <!-- Remove the below line ↓ -->
    <p>Template creado por <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
    <!-- Change this out with your name and url ↓ -->
    <p>editado por <a href="http://johanpalma.ga">Johan Palma</a></p>
    <p>Parte de <a href="http://todomvc.com">TodoMVC</a></p>
</footer>
